* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  width: 80vw;
  margin: 10px auto;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
}
/* --------------------------------Cards */
#cards-main-div {
  margin: 5rem 0rem;
  overflow: hidden;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#card {
  margin: 2rem 1rem;
}
#content {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}
/* #cards-main-div #content h1 {} */
#cards-main-div #content #link {
  color: rgb(156, 156, 156);
  display: flex;
  flex-direction: row;
}
#cards-main-div #content #link #icon {
  font-size: 1.5rem;
}
/* --------------------------------Cards */
#content-main-div {
  background: wheat;
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  /* width: 80vw; */
}
#content-main-div h1,
p {
  display: flex;
  margin: 0;
  justify-content: center;
}

#content-main-div p {
  width: 70%;
  font-size: 2rem;
}
#content-main-div #cards {
  display: flex;
  flex-wrap: wrap;
}
#content-main-div #cards #card {
  background: white;
  border-radius: 50%;
  height: 18rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content-main-div #cards #card p {
  font-size: medium;
}
#content-main-div #cards #card #card-icon {
  font-size: 3rem;
}
#content-main-div #description {
  margin: auto;
}
#content-main-div #link {
  color: rgb(156, 156, 156);
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: 10rem;
  text-decoration: underline;
}
/* ----------------------grid-carousel */
#events {
  margin: 5rem 0rem;
  width: 98vw;
  overflow-x: hidden;
}
#carousal-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#carousal-item .content {
  background-color: tomato;
  padding: 3.2rem 5rem;
  border-radius: 50%;
}
#events #content #link {
  color: rgb(156, 156, 156);
  display: flex;
  flex-direction: row;
}
#events #content #link #icon {
  font-size: 1.5rem;
}
